<template>
  <div id="json" ref="json">Data</div>
</template>

<script>
import CodeMirror from "codemirror";
//import "../../plugins/codeMirrorStyle.css";
import ProjectService from "../../services/requettes";
import { markRaw } from "@vue/reactivity";
import "codemirror/theme/mdn-like.css"
import "codemirror/mode/javascript/javascript.js"


export default {
  name: "EditorData",
  data() {
    return {
      valueJson: this.valueJson,
      jsonEditor: "",
    };
  },
  props: ["projectId"],

  watch: {
    projectId: async function (newVal, oldVal) {
      const cards = await ProjectService.reqApiprojectId(this.projectId);
      const initData = JSON.stringify(cards.data.dataArray);
      this.jsonEditor.setValue(initData);
      this.valueJson = this.jsonEditor.getValue();
    },
  },

  emits: ["getData"],

  async mounted() {
    // Data

    const cards = await ProjectService.reqApiprojectId(this.projectId);
    const initData = JSON.stringify(cards.data.dataArray);

    // CodeMirror for date
    const jsonEditor = markRaw(
      CodeMirror(this.$refs.json, {
        value: "",
        mode: {name: "javascript", json: true},
        theme: "mdn-like",
        lineNumbers: true,
        lineWrapping: true,
        collapseIdentical: true,
        tabSize: 1150,
      })
    );
    this.jsonEditor = jsonEditor;
    jsonEditor.setSize("100%", "100%");
    this.valueJson = jsonEditor.getValue();

    jsonEditor.on("changes", () => {
      this.valueJson = jsonEditor.getValue();
      this.valueJson = JSON.parse(this.valueJson);
      this.$emit("getData", this.valueJson);
    });

    jsonEditor.setValue(initData);
  },
};
</script>

<style scoped>
#json {
  padding: 2px;
  background-color: rgb(211, 196, 219);
}
</style>