<template>
  <div id="css" ref="css">STYLE</div>
</template>

<script>
import CodeMirror from "codemirror";
import "../../plugins/codeMirrorStyle.css";
import ProjectService from "../../services/requettes";
import { markRaw } from '@vue/reactivity';
import "codemirror/theme/mdn-like.css"


export default {
  name: "EditorStyle",
  data() {
    return {
      valueCss: this.valueCss,
      cssEditor: "",
    };
  },

  props: ["projectId"],
  emits: ["getStyle"],
  watch: {
    projectId: async function (newVal, oldVal) {
      const cards = await ProjectService.reqApiprojectId(this.projectId);
      const initStyle = cards.data.style;
      this.cssEditor.setValue(initStyle);
      this.valueCss = this.cssEditor.getValue();
    },
  },

  async mounted() {
    //style §§§ we do the same prossedure
    const cards = await ProjectService.reqApiprojectId(this.projectId);
    const initStyle = cards.data.style;
    const cssEditor = markRaw(CodeMirror(this.$refs.css, {
      value: initStyle,
      connect: "align",
      mode: "text/css", 
      lineNumbers: true,
      theme: "mdn-like",
      // collapseIdentical: true,
      // highlightDifferences: true,
      lineWrapping: true, //not scroll
    }));
    this.cssEditor = cssEditor;
    this.valueCss = cssEditor.getValue();
    cssEditor.setSize("100%", "100%");

    cssEditor.on("changes", () => {
      this.valueCss = cssEditor.getValue();
      this.$emit("getStyle", this.valueCss);
    });
    cssEditor.setValue(initStyle);
  },
};
</script>

<style scoped>
#css {
  padding: 2px;
  background-color: rgb(170, 228, 230);
}

</style>