<template>
  <div id="html" ref="html">Template</div>
</template>

<script>
import CodeMirror from "codemirror";
import ProjectService from "../../services/requettes";
import { markRaw } from "@vue/reactivity";
//import "../../plugins/codeMirrorStyle.css";
import "codemirror/mode/htmlmixed/htmlmixed.js"
import "codemirror/theme/mdn-like.css"

export default {
  name: "EditorCode",
  data() {
    return {
      valueHtml: this.valueHtml,
      htmlEditor: "",
    };
  },
  // we keep user's id and project's id in props for reading thems in project composant
  props: ["userId", "projectId"],
  //we watch projectId changes while chosing the project in navbar for make other request
  watch: {
    projectId: async function (newVal, oldVal) {
      const cards = await ProjectService.reqApiprojectId(this.projectId);
      const initTemplate = cards.data.template;
      this.htmlEditor.setValue(initTemplate);
      this.valueHtml = this.htmlEditor.getValue();
    },
  },
  emits: ["getHtml"],

  async mounted() {
    const htmlEditor = markRaw(
      CodeMirror(this.$refs.html, {
        value: "",
        lineWrapping: true, //not scroll
        //tabSize: 4,
        mode: "htmlmixed",
        theme: "mdn-like",
        lineNumbers: true,
        line: true,
      })
    );
    this.htmlEditor = htmlEditor;
    htmlEditor.setSize("100%", "100%");
    this.valueHtml = htmlEditor.getValue();

    // we create cards, it's a response from API
    const cards = await ProjectService.reqApiprojectId(this.projectId);
    //we initialize initTemplate with a date of database
    const initTemplate = cards.data.template;

    htmlEditor.on("changes", () => {
      this.valueHtml = htmlEditor.getValue();
      this.$emit("getHtml", this.valueHtml);
    });

    htmlEditor.setValue(initTemplate);
  },
};
</script>

<style scoped>
#html {
  padding: 2px;
  background-color: rgba(245, 0, 191, 0.3);
}

</style>