<template>
  <el-space wrap>
    <el-col>
      <el-row class="title"> {{ cardName }}</el-row>
      <el-row v-for="item in val" :key="item">
        <el-card :style="style" class="marginCard">
          
          <Runtime :template="template" :data="item"></Runtime>
        </el-card>
      </el-row>
    </el-col>
  </el-space>
</template>
<script>
import { compile } from "vue";
import VRuntimeTemplate from "vue3-runtime-template";
import Runtime from "./Runtime.vue";

export default {
  name: "CardCollection",
  components: { VRuntimeTemplate, Runtime },
  data() {
    return {
      data: "",
      template: "",
      templateCandidate: "",
      compt: 1,
    };
  },

  props: ["html", "val", "style", "cardName", "projectId"],
  mounted() {
    this.templateCandidate = this.html;
    this.data = this.val;
    console.log(this.html)
    // Init with some content.
  },
//we watch html for compilation dynamic with management of errors
  watch: {
    html: function (newVal, oldVal) {
      this.templateCandidate = newVal;
      console.log(this.templateCandidate)
    },
    templateCandidate(templateCandidate) {
      // There is a bug in Vue 3 (tested on 3.1.2) that makes Vue crashes when
      // there is JavaScript syntax error in the template. So before applying
      // the template, we check it is ok by compiling it in a try/catch.
      try {
        compile(templateCandidate, {
          onError: (error) => {
            throw `Error when checking the template syntax. Skip rendering.`;
          },
        });

        // Compile succesfull, there is no JavaScript syntax error, we can apply
        // the new template
        this.template = this.templateCandidate;
      } catch (error) {
        // There is a JavaScript syntax error. We do nothing, which will leave
        // the template to its previous valid value.
      }
    },
  },
};
</script>
<style>
.title {
  font-weight: bold;
  padding: 20px;
  color: gray;
}
.marginCard {
  margin-bottom: 10px;
}
</style>
