<template>
  <router-view />
</template>
<script>
import Project from "./Project.vue";
import NewProjectPage from "./NewProjectPage.vue";
import HomePage from "./HomePage.vue";
import LoginPage from "./Authentication/LoginPage.vue";
import SignupPage from "./Authentication/SignupPage.vue";
import ForgotPasswordPage from "./Authentication/ForgotPasswordPage.vue";
import ResetPasswordPage from "./Authentication/ResetPasswordPage.vue";

export default {
  name: "Container",
  components: {
    HomePage,
    Project,
    LoginPage,
    SignupPage,
    ForgotPasswordPage,
    ResetPasswordPage,
    NewProjectPage,
  },
}
</script>