<template>
  <el-row class="header"> </el-row>
 
          <NavBareHomeMobil class="nb_home"></NavBareHomeMobil>

  <el-col :offset="8" :span="12" class="home">
    
    <el-card class="box-card" shadow="never">
      <el-row :gutter="20">
        <el-col
          :span="12"
          :offset="6"
          v-for="text in texts"
          :key="text"
          class="text item"
        >
          <el-card shadow="always">
            {{ text }}
          </el-card>
          <el-row class="division"></el-row>
        </el-col>
      </el-row>
    </el-card>
  </el-col>
</template>

<script>
import NavBareHomeMobil from "./NavBare_Home_Mobil.vue";
export default {
  components: { NavBareHomeMobil },

  name: "HomePage",
  data() {
    return {
      texts: ["Code&Card", "CanbanToDo", "Pense-Bête", "Diary&Call"],
    };
  },
};
</script>

<style scoped>
.home {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .home, .header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nb_home {
    display: none;
  }
}
.box-card {
  background-color: rgba(245, 0, 191, 0.1);
  padding: auto;
}
.division {
  min-height: 25px;
}
.navbar {
  align-self: center;
}
.header {
  height: 50px;
}
</style>