<template>
  <div class="nb" :style="{ 'background-color': style }">
    <div class="flex">
      <el-col :xs="0" :sm="24" :md="24">
        <router-link to="/">
          <img src="../assets/logo_K.png" />
        </router-link>
      </el-col>
      <div>
        <nav :background="style">
          <div>
            <el-menu
              class="el-menu-vertical"
              @open="handleOpen"
              @close="handleClose"
              background-color="rgba(245, 0, 191, 0)"
              text-color="rgba(101, 87, 101, 1)"
              active-text-color="rgba(245, 0, 191, 0.5)"
            >
              <!-- /login -->
              <el-col :xs="0" :sm="24" :offset="8">
                <router-link to="/login">
                  <el-menu-item v-if="!currentUser" index="1"
                    >log in</el-menu-item
                  >
                </router-link>
                <!-- signup -->

                <router-link to="/signup" class="nav-action">
                  <el-menu-item v-if="!currentUser" index="2"
                    >sign up</el-menu-item
                  >
                </router-link>
              </el-col>

              <!-- space user:  -->
              <!-- logOut -->

              <router-link to="/user" v-if="currentUser" class="nav-action">
                <el-col><font-awesome-icon icon="user" /> </el-col><br />
                <el-col align="center">{{ currentUser.pseudo }}</el-col
                ><br />
                <el-col alignment="center">{{ currentUser.email }}</el-col
                ><br />

                <div class="logout">
                  <a class="logout" @click.prevent="logOut"> LogOut </a>
                </div>
              </router-link>

              <el-divider v-if="this.$route.name == 'Project'"
                ><i class="el-icon-star-on"></i
              ></el-divider>
              <router-link v-if="currentUser" to="/project" class="nav-action">
                <el-menu-item> Yours cards </el-menu-item>
                <el-row
                  v-for="project in filteredCards"
                  :key="project.id"
                  label="center"
                  class="lien"
                >
                  <router-link :to="`/project/${project._id}`">
                    <div v-if="project.name" :alignment="center">
                      {{ project.name }}
                    </div>
                    <div class="lien" v-else>{{ project._id }}</div>
                  </router-link>
                </el-row>
              </router-link>
              <router-link v-if="currentUser" to="/newProject">
                <el-col :xs="0" :sm="0" :lg="24"
                  ><el-button size="mini" type="info" plain
                    >New</el-button
                  ></el-col
                >
              </router-link>
            </el-menu>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import ProjectService from "../services/requettes";
export default {
  name: "NavBar",
  computed: {
    //we create the identified user
    currentUser() {
      return this.$store.state.auth.user;
    },
    //we create the variable for reloading list of projects if it needs
    stateProjetsUser() {
      return this.$store.state.ref.refresh;
    },
  },
  data() {
    return {
      filteredCards: [],
      cards: [],
    };
  },

  watch: {
    //waching for make update list of projects
    stateProjetsUser: function (newVal) {
      this.projetsUser();
      this.$store.dispatch("passerTrue");
    },
    currentUser: async function (newVal, oldVal) {
      this.projetsUser();
    },
  },

  props: ["style"],

  emits: ["cardUserdId"],

  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/");
    },
    projetsUser() {
      //recover the list of user's projects
      ProjectService.reqApiproject().then((response) => {
        const cards = response.data;
        this.filteredCards = cards.filter(
          (cards) => cards.userId == this.currentUser.id
        );
      });
    },
  },
  mounted() {
    ProjectService.reqApiproject().then((response) => {
      const cards = response.data;
      this.filteredCards = cards.filter(
        (cards) => cards.userId == this.currentUser.id
      );
    });
  },
};
</script>
<style>
.nb {
  min-height: 100vh;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .nb {
    margin-top: -120px;
  }
}
.flex {
  display: flex;
  flex-direction: column;
}
#button {
  margin-top: 200px;
}

.logout {
  padding-top: 20px;
  color: rgba(101, 87, 101, 1);
}
.logout:hover {
  color: rgba(245, 0, 191, 0.5);
}
.lien {
  padding: 5px;
}
.lien:hover {
  background-color: rgb(235, 220, 235);
  border-radius: 10px 0px 0px 10px;
}
</style>
