<template>
  <el-row :gutter="50">
    <el-col :span="12" :offset="5">
      <div class="flex">
        <el-row>
          <el-col class="header"> </el-col>
        </el-row>

        <div class="login">
          <el-row :gutter="20">
            <el-col :span="16" :offset="4">
              <el-space wrap :size="large">
                <span>New project</span>
              </el-space>

              <el-form
                :model="newP"
                status-icon
                :rules="rules"
                ref="ruleForm"
                label-width="120px"
                class="demo-ruleForm"
              >
                <el-form-item label="project_name" prop="project_name">
                  <el-input v-model.number="newP.project_name"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="handleNewProject('newP')"
                    >Submit</el-button
                  >
                </el-form-item>
              </el-form>
              <div
                v-if="message"
                class="alert"
                :class="successful ? 'alert-success' : 'alert-danger'"
              >
                {{ message }}
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-col>
  </el-row>
</template>



<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
import ProjectService from "../services/requettes";

export default {
  name: "NewProjectPage",
  components: {
    Form,
    Field,
    ErrorMessage,
  },

  data() {
    const schema = yup.object().shape({
      nameProject: yup.string().required("nameProject is required!"),
    });

    return {
      newP: {
        project_name: "",
      },

      successful: false,
      loading: false,
      message: "",
      schema,
    };
  },

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },

  methods: {
    handleNewProject() {
      this.message = "";
      this.successful = false;
      this.loading = true;
      ProjectService.postApiProjectId(
        this.newP.project_name,
        this.currentUser.id
      ).then(
        (response) => {
          this.message = response.data.message;
          this.successful = true;
          this.loading = false;

          // this.$router.push(`/project`);
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
      this.$store.commit("update");
    },
  },
};
</script>

<style scoped>
.box-card {
  padding: auto;
}
.division {
  min-height: 25px;
}
.navbar {
  align-self: center;
  padding-top: -100px;
}
.login {
  padding-top: 25%;
}
</style>