<template>
  <el-row>
    <el-col class="header_projet"></el-col>

    <el-col :span="8">
      <el-row class="height"> </el-row>
      <el-row>
        <el-col>
          <el-col
            :lg="24"
            :md="0"
            :sm="0"
            :xs="0"
            v-if="isDisplay"
            class="editers"
          >
            <div class="paddingEditors">
              <EditorCode v-on:getHtml="getHtml" :projectId="id" />
            </div>
            <div class="paddingEditors">
              <EditorStyle v-on:getStyle="getStyle" :projectId="id" />
            </div>
            <div class="paddingEditors">
              <EditorData v-on:getData="getData" :projectId="id" />
            </div>
          </el-col>
          <el-col v-if="!isDisplay" class="editorClosed"> </el-col>
          <el-col
            class="closeOpenButton"
            v-if="isDisplay"
            @click="CloseEditors()"
            ><el-col :lg="1" :md="0" :sm="0" :xs="0">
              <font-awesome-icon icon="caret-left" size="2x" :title="close" />
            </el-col>
          </el-col>
          <el-col class="openButton" v-if="!isDisplay" @click="OpenEditors()"
            ><el-col :lg="1" :md="0" :sm="0" :xs="0">
              <font-awesome-icon icon="caret-right" size="2x" :title="open" />
            </el-col>
          </el-col>
        </el-col>
      </el-row>
    </el-col>
    <el-col
      :lg="{ span: 14, offset: 1 }"
      :md="{ span: 20, offset: 2 }"
      :sm="{ span: 20, offset: 2 }"
      :xs="{ span: 24, offset: 0 }"
      class="background"
      justify="center"
    >
      <el-col
        :lg="{ span: 20, offset: 2 }"
        :md="{ span: 12, offset: 6 }"
        :sm="{ span: 14, offset: 5 }"
        :xs="{ span: 22, offset: 1 }"
        class="carts"
      >
        <el-row>
          <el-button @click="handleSave()" type="info" plain>Save</el-button>
          <el-button @click="handleDelete()" type="danger" plain size="mini"
            >Delete</el-button
          >
          <span v-if="message" class="transitionName"> {{ message }}</span>
        </el-row>

        <CardCollection
          :html="this.valueHtml"
          :val="this.valueJson"
          :style="valueCss"
          :cardName="this.cardName"
          :projectId="id"
        />
      </el-col>
    </el-col>
  </el-row>
</template>

<script>
import CardCollection from "./CardCollection.vue";
import EditorCode from "./Editors/EditorCode.vue";
import EditorStyle from "./Editors/EditorStyle.vue";
import EditorData from "./Editors/EditorData.vue";
import Runtime from "./Runtime.vue";
import UserService from "../services/user.service";
import ProjectService from "../services/requettes";
import { FontAwesomeIcon } from "../plugins/font-awesome";

export default {
  name: "Project",
  components: {
    CardCollection,
    EditorCode,
    EditorStyle,
    EditorData,
    Runtime,
  },
  data() {
    return {
      valueHtml: "",
      valueJson: "",
      valueCss: "",
      message: "",
      cardName: "",
      bdCards: [],
      isDisplay: true,
    };
  },

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    stateProjetsUser() {
      return this.$store.state.ref.refresh;
    },
    close() {
      return "close";
    },
    open() {
      return "open";
    },
  },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  watch: {
    id: async function (newVal, oldVal) {
      const cards = await ProjectService.reqApiprojectId(newVal);
      this.cardName = cards.data.name;
      UserService.getPosts()
        .then((response) => {
          console.log("bien");
        })
        .catch((error) => {
          localStorage.removeItem("user");
          this.$store.dispatch("auth/logout");
          this.$router.push("/login");
        });
    },
  },

  methods: {
    CloseEditors() {
      this.isDisplay = false;
    },
    OpenEditors() {
      this.isDisplay = true;
    },
    getHtml(valueHtml) {
      this.valueHtml = valueHtml;
    },
    getData(valueJson) {
      this.valueJson = valueJson;
    },
    getStyle(valueCss) {
      this.valueCss = valueCss;
    },

    async handleDelete() {
      this.message = "";
      this.successful = false;
      this.loading = true;
      ProjectService.deleteApiProjectId(this.id).then(
        (response) => {
          this.message = response.data.message;
          this.successful = true;
          this.loading = false;
          console.log(response.data.message);
          this.$store.commit("update");
          console.log(this.$store);
          this.$router.push("/project");
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
    },
    async handleSave() {
      this.message = "";
      this.successful = false;
      this.loading = true;
      ProjectService.putApiProjectId(
        this.id,
        this.valueJson,
        this.valueHtml,
        this.valueCss,
        this.currentUser.id
      ).then(
        (response) => {
          this.message = response.data.message;
          this.successful = true;
          this.loading = false;
          console.log(response.data.message);
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
    },
  },
  created() {
    UserService.getPublicContent()
      .then((response) => {
        console.log("bien");
      })
      .catch((error) => {
        localStorage.removeItem("user");
        this.$store.dispatch("auth/logout");
        this.$router.push("/login");
      });
  },
  async mounted() {
    console.log(this.id);
    this.bdCards = await ProjectService.reqApiprojectId(this.id);
    this.cardName = this.bdCards.data.name;
  },
};
</script>
<style>
.header {
  margin-bottom: 100px;
}
.header_projet {
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .header_projet {
    display: none;
  }
}
.height {
  min-height: 50px;
}
.editers {
  width: 400px;
}
.closeOpenButton {
  position: relative;
  left: -13px;
  color: gray;
  top: -6px;
}
.openButton {
  position: relative;
  color: gray;
  top: -6px;
}
.background {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.carts {
  text-align: center;
}
.editorClosed {
  position: relative;
  top: -150px;
  height: 100vh;
  background-color: rgba(245, 0, 191, 0.3);
  width: 15px;
}
.paddingEditors {
  padding-bottom: 30px;
}
@keyframes monanimation {
  0% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
.transitionName {
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  animation: monanimation 3s ease-out;
}
</style>
