<template>
  <v-runtime-template :template="template" :data="data"></v-runtime-template>
</template>
<script>
import { compile } from "vue";
import VRuntimeTemplate from "../plugins/VRuntimeTemplate";

export default {
  name: "Runtime",
  components: { VRuntimeTemplate },
  data() {
    mal: 1
  },

  props: ["template", "data"],
  computed: {

  },
  methods: {
    sayHi() {
      alert("Hi");
    },
    alert(el){
      alert(el)

    },
    console(el){
      console.log(el)
    }
  },
};
</script>

