<template>
  <el-row :gutter="50">
  <el-col :lg="{span: 8, offset: 9}" :md="{span: 12, offset: 6}" :sm="{span: 14, offset: 5}" :xs="{span: 24, offset: 2}">
      <div class="flex">
        <el-row>
          <el-col class="header"> 
                     <el-col :xs="24" :sm="0" :md="0" :lg="0" :offset="5">
              <router-link to="/">
                <img src="../../assets/logo_K.png" />
              </router-link>
            </el-col>
          </el-col>
        </el-row>
        <div class="login">
          <el-row :gutter="20">
            <el-col :span="12" :offset="4" class="text item">
              <el-space>
                <p>We will send you a link to reset your password:</p>
              </el-space>

              <Form @submit="handleForgot" :validation-schema="schema">
                <div class="form-group">
                  <label for="email">Email</label>
                  <Field name="email" type="text" class="form-control" />
                  <ErrorMessage name="email" class="error-feedback" />
                </div>
                
                <el-col :offset="6" class="form-group">
                  <button :disabled="loading">
                    <span v-show="loading"></span>
                    <span>Send</span>
                  </button>
                </el-col>

                <div class="form-group">
                  <div v-if="message" class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                </div>
              </Form>

              <el-row class="division"></el-row>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import NavBar from "../NavBar.vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";
export default {
  name: "ForgotPassword",
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = yup.object().shape({
      email: yup.string().required("Email is required!"),
      password: yup.string().required("Password is required!"),
    });

    return {
      form: {
        email: "",
        password: "",
      },
      loading: false,
      message: "",
      schema,
    };
  },

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },

  methods: {
    handleForgot(user) {
      this.message = "";
      this.successful = false;
      this.loading = true;

      this.$store.dispatch("auth/forgot", user).then(
        (data) => {
          this.message = data.data.message;
          this.successful = true;
          this.loading = false;
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
    },
  },
};
</script>
<style scoped>
.box-card {
  padding: auto;
}

.division {
  min-height: 25px;
}
.navbar {
  align-self: center;
  padding-top: -100px;
}
.login {
  padding-top: 25%;
}
button {
  text-align: end;
  background-color: rgba(245, 0, 191, 0.1);
  border: none;
  color: rgba(102, 87, 101, 0.67);
  padding: 15px 32px;
  margin: 15px;
}
</style>
