<template>
  <el-row :gutter="50">
    <el-col
      :lg="{ span: 8, offset: 9 }"
      :md="{ span: 12, offset: 6 }"
      :sm="{ span: 14, offset: 5 }"
      :xs="{ span: 24, offset: 2 }"
    >
      <div class="flex">
        <el-row>
          <el-col class="header">
            <el-col :xs="24" :sm="0" :md="0" :lg="0" :offset="5">
              <router-link to="/">
                <img src="../../assets/logo_K.png" />
              </router-link>
            </el-col>
          </el-col>
        </el-row>
        <div class="login">
          <el-row :gutter="20">
            <el-col :span="16" :offset="4">
              <el-space wrap :size="large"> </el-space>

              <Form @submit="handleLogin" :validation-schema="schema">
                <div class="form-group">
                  <tr>
                    <label for="email">Email</label>
                  </tr>
                  <Field name="email" type="text" class="form-control" />
                  <ErrorMessage name="email" class="error-feedback" />
                </div>
                <div class="form-group">
                  <tr>
                    <label for="password">Password</label>
                  </tr>
                  <Field name="password" type="password" class="form-control" />
                  <ErrorMessage name="password" class="error-feedback" />
                </div>
                <el-space>
                  <router-link to="/forgotPassword"
                    >Forgot Password?
                  </router-link>
                </el-space>
                <el-col :offset="6" class="form-group">
                  <button :disabled="loading">
                    <span v-show="loading"></span>
                    <span>Login</span>
                  </button>
                </el-col>

                <div class="form-group">
                  <div v-if="message" class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                </div>
              </Form>
              <el-row class="division"></el-row>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-col>
  </el-row>
</template>



<script>
import NavBar from "../NavBar.vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
  name: "LoginPage",
  components: {
    NavBar,
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    const schema = yup.object().shape({
      email: yup.string().required("Email is required!"),
      password: yup.string().required("Password is required!"),
    });

    return {
      form: {
        email: "",
        password: "",
      },
      loading: false,
      message: "",
      schema,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/project");
    }
  },
  methods: {
    handleLogin(user) {
      this.loading = true;
      this.$store.dispatch("auth/login", user).then(
        () => {
          this.$router.push("/project");
        },
        (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
      );
    },
  },
};
</script>

<style scoped>
.box-card {
  padding: auto;
}
.division {
  min-height: 25px;
}
.navbar {
  align-self: center;
  padding-top: -100px;
}
.login {
  padding-top: 25%;
}
button {
  text-align: end;
  background-color: rgba(102, 87, 101, 0.67);
  border: none;
  color: rgba(255, 253, 255, 0.67);
  padding: 15px 32px;
  margin: 15px;
}
</style>