<template>
  <el-row :gutter="50">
    <el-col
      :lg="{ span: 8, offset: 9 }"
      :md="{ span: 12, offset: 6 }"
      :sm="{ span: 14, offset: 5 }"
      :xs="{ span: 12, offset: 5 }"
    >
      <div class="flex">
        <el-row>
          <el-col class="header">
            <el-col :xs="24" :sm="0" :md="0" :lg="0" :offset="5">
              <router-link to="/">
                <img src="../../assets/logo_K.png" />
              </router-link>
            </el-col>
          </el-col>
        </el-row>

        <div class="login">
          <el-row :gutter="20">
            <el-col :span="24" :offset="4">
              <p>If you want to join Kartiz, please fill the form below.</p>

              <Form @submit="handleRegister" :validation-schema="schema">
                <div v-if="!successful">
                  <div class="form-group">
                    <tr>
                      <label for="email">Email</label>
                    </tr>
                    <Field name="email" type="email" class="form-control" />
                    <ErrorMessage name="email" class="error-feedback" />
                  </div>
                  <div class="form-group">
                    <tr>
                      <label for="password">Password</label>
                    </tr>
                    <Field
                      name="password"
                      type="password"
                      class="form-control"
                    />
                    <ErrorMessage name="password" class="error-feedback" />
                  </div>
                  <div class="form-group">
                    <tr>
                      <label for="pseudo">Username</label>
                    </tr>
                    <Field name="pseudo" type="text" class="form-control" />
                    <ErrorMessage name="pseudo" class="error-feedback" />
                  </div>

                  <el-col :offset="6" class="form-group">
                    <button :disabled="loading">
                      <span v-show="loading"></span>
                      Sign Up
                    </button>
                  </el-col>
                </div>
              </Form>

              <div
                v-if="message"
                class="alert"
                :class="successful ? 'alert-success' : 'alert-danger'"
              >
                {{ message }}
              </div>

              <el-row class="division"></el-row>
            </el-col>
          </el-row>
        </div>
      </div>
    </el-col>
  </el-row>
</template>



<script>
import NavBar from "../NavBar.vue";
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
  name: "SignupPage",
  components: {
    Form,
    Field,
    ErrorMessage,
  },

  data() {
    const schema = yup.object().shape({
      email: yup
        .string()
        .required("Email is required!")
        .email("Email is invalid!")
        .max(50, "Must be maximum 50 characters!"),
      password: yup
        .string()
        .required("Password is required!")
        .min(6, "Must be at least 6 characters!")
        .max(40, "Must be maximum 40 characters!"),
      pseudo: yup
        .string()
        .required("Username is required!")
        .min(3, "Must be at least 3 characters!")
        .max(20, "Must be maximum 20 characters!"),
    });

    return {
      form: {
        email: "",
        password: "",
        pseudo: "",
      },
      successful: false,
      loading: false,
      message: "",
      schema,
    };
  },

  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },

  mounted() {
    if (this.loggedIn) {
      this.$router.push("/project");
    }
  },

  methods: {
    handleRegister(user) {
      this.message = "";
      this.successful = false;
      this.loading = true;

      this.$store.dispatch("auth/register", user).then(
        (data) => {
          this.message = data.message;
          this.successful = true;
          this.loading = false;
        },
        (error) => {
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
          this.successful = false;
          this.loading = false;
        }
      );
    },
  },
};
</script>

<style scoped>
.box-card {
  padding: auto;
}
.division {
  min-height: 25px;
}
.navbar {
  align-self: center;
  padding-top: -100px;
}
.login {
  padding-top: 25%;
}
button {
  text-align: end;
  background-color: rgba(245, 0, 191, 0.1);
  border: none;
  color: rgba(102, 87, 101, 0.67);
  padding: 15px 32px;
  margin: 15px;
}
</style>