<template>
  <el-row>
    <el-col 
    :xs="24" :sm="18" :md="18" :lg="20">
      <Container />
    </el-col>
    <el-col 
    :sm="6" :md="6" :lg="4">
      <NavBar :style="background" />
    </el-col>
  </el-row>
</template>

<script>
import Container from "./components/Container.vue";
import NavBar from "./components/NavBar.vue";
import UserService from "./services/user.service";
export default {
  name: "App",
  components: {
    NavBar,
    Container,
  },
  data() {
    return {
      background: "",
    };
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == "Login" || this.$route.name == "NewProject") {
        this.background = "rgba(245, 0, 191, 0.1)";
      } else if (
        this.$route.name == "SignupPage" ||
        this.$route.name == "ResetPassword"
      ) {
        this.background = "rgba(2, 254, 73, 0.2)";
      } else if (this.$route.name == "ForgotPassword") {
        this.background = "rgba(113, 2, 254, 0.2)";
      } else {
        this.background = "";
      }
    },
  },
    computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
 
  mounted() {
    UserService.getPosts()
      .then((response) => {
        console.log("bien");
      })
      .catch((error) => {
        localStorage.removeItem("user");
        this.$store.dispatch("auth/logout");
      });
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");
html,
body {
  min-height: 100vh;
  margin-top: -30px;
  padding: 0;
}
#app {
  font-family: "Red Rose", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  color: #2c3e50;
  margin-top: 60px;
}
.element-plus-logo {
  width: 50%;
}
a {
  color: #423a3a;
  text-decoration: none;
}
.flex {
  display: flex;
  flex-direction: column;
}
nav {
  margin-top: 150px;
}
</style>